@import "tailwindcss";
@import "tw-animate-css";
@import "@asap/tailwind-config/theme";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));
@custom-variant auto (&:where(.auto, .auto *));

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;

	@media (width >= 640px) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		letter-spacing: var(--tracking-normal);
	}
}
