name: CI

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

# You can leverage Vercel Remote Caching with Turbo to speed up your builds
# @link https://turborepo.com/docs/core-concepts/remote-caching#remote-caching-on-vercel-builds
env:
  FORCE_COLOR: 3
  # TURBO_TEAM: ${{ vars.TURBO_TEAM }}
  # TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: Format
        run: pnpm format-and-lint

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup
        uses: ./tooling/github/setup

      - name: Typecheck
        run: pnpm typecheck
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4

      - run: pnpm install

      - name: Check migrations
        if: github.event_name == 'pull_request'
        run: pnpm db:check-migrations

      - name: Run affected tests
        if: github.event_name == 'pull_request'
        run: pnpm server:test:affected

      - name: Run all tests
        if: github.ref == 'refs/heads/main'
        run: pnpm server:test